<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" src="/styles/resets.scss" />
    <link rel="stylesheet" src="/styles/base.scss" />
    <link rel="stylesheet" src="/styles/header.scss" />
    <link rel="stylesheet" src="/styles/form.scss" />
    <link rel="stylesheet" src="/styles/footer.scss" />
    <link rel="icon" type="image/x-icon" href="assets/favico.ico" />
    <title>Evaluate a News Article with Natural Language Processing</title>
  </head>

  <body>
    <header>
      <div class="title-area">
        <img src="assets/logo.svg" alt="Logo Page" />
        <h1>Evaluate a News Article</h1>
      </div>
    </header>
    <main>
      <section>
        <form class="form-area" onsubmit="return Client.handleSubmit(event)">
          <input
            id="name"
            type="text"
            name="input"
            value=""
            placeholder="URL"
            required
          />
          <button type="submit" onclick="return Client.handleSubmit(event)">
            Submit
          </button>
        </form>
      </section>

      <section>
        <div id="results"></div>
      </section>
    </main>

    <footer>
      <p>This is a footer</p>
    </footer>
  </body>
  <script>
    if ("serviceWorker" in navigator) {
      window.addEventListener("load", () => {
        navigator.serviceWorker
          .register("/service-worker.js")
          .then((result) => {
            console.log("Registred: ", result);
          })
          .catch((error) => {
            console.log("Error: ", error);
          });
      });
    }
  </script>
</html>
